@charset "UTF-8";
@font-face {
  font-family: "Archivo Black";
  src: url("../fonts/ArchivoBlack-Regular.ttf");
}
@font-face {
  font-family: "Nunito Regular";
  src: url("../fonts/Nunito/static/Nunito-Medium.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1244px;
  margin: 0 auto;
}

/*mobile до 768*/
@media screen and (max-width: 768px) {
  .container {
    padding-inline: 8px;
  }
}
@media screen and (min-width: 769px) {
  .container {
    padding-inline: 32px;
  }
}
h1, h2 {
  font-family: "Archivo Black";
}

p, span, a, li {
  font-family: "Nunito Regular";
}

p {
  line-height: 160%;
  color: #757778;
}

.header__wrapper {
  padding-block: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.menu {
  box-sizing: border-box;
}
.menu__list {
  display: flex;
  column-gap: 20px;
}
.menu__item {
  white-space: nowrap;
  border: 1px solid #E8E8E8;
  border-radius: 20px;
  padding: 8px 18px;
}
.menu__item a {
  font-size: 15px;
  color: #1B1F21;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* меню для мобильных */
@media screen and (max-width: 768px) {
  .menu {
    grid-column: 1/4;
    grid-row: 2;
    overflow-x: hidden;
  }
  .logo {
    grid-column: 1/3;
    grid-row: 1;
  }
  .toolbar {
    grid-column: 3/4;
    grid-row: 1;
  }
}
@media screen and (min-width: 769px) {
  .menu {
    grid-column: 1/4;
    grid-row: 2;
    overflow-x: hidden;
  }
  .logo {
    grid-column: 1/3;
    grid-row: 1;
  }
  .toolbar {
    grid-column: 3/4;
    grid-row: 1;
  }
}
@media screen and (min-width: 1279px) {
  .header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.intro__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}
.intro__image {
  width: 304px;
  height: 352px;
  background-image: url(../images/articles/gaming.png);
  background-size: cover;
  background-position: center -100px;
  margin: 0 auto;
  overflow: hidden;
  mask-image: url("../images/masks/intro/mask-sm.svg");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center top;
}
.intro__title {
  font-size: 36px;
}
.intro__content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  row-gap: 18px;
}

/*mobile до 768*/
@media screen and (max-width: 768px) {
  .intro__content {
    max-width: 450px;
  }
}
/*tablet с 769*/
@media screen and (min-width: 769px) {
  .intro__wrapper {
    padding-top: 48px;
  }
  .intro__image {
    width: 100%;
    mask-image: url("../images/masks/intro/mask-md.svg");
    background-position-y: center;
  }
  .intro__content {
    display: grid;
  }
  .intro__title {
    grid-column: 2;
  }
  .intro__description {
    grid-column: 2;
  }
  .intro__button {
    grid-column: 2;
  }
  .intro__date {
    grid-row: 2;
    grid-column: 1;
  }
  .tags {
    grid-row: 1;
    grid-column: 1;
  }
}
/*desktop от 1279*/
@media screen and (min-width: 1279px) {
  .intro__wrapper {
    flex-direction: row;
    column-gap: 40px;
    padding-top: 80px;
  }
  .intro__content {
    display: flex;
    flex-direction: column;
  }
  .intro__image {
    mask-image: url("../images/masks/intro/mask-xl.svg");
    height: 560px;
    max-width: 480px;
    background-position-y: bottom;
  }
}
@media screen and (min-width: 877px) and (max-width: 984px) {
  .intro__image {
    height: 400px;
  }
}
@media screen and (min-width: 985px) and (max-width: 1105px) {
  .intro__image {
    height: 450px;
  }
}
@media screen and (min-width: 1106px) and (max-width: 1278px) {
  .intro__image {
    height: 500px;
  }
}
.articles__list {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: 0 auto;
  padding-top: 120px;
  row-gap: 104px;
}
.articles__content {
  row-gap: 18px;
}
.articles__item {
  width: 100%;
  margin: 0 auto;
}
.articles__image {
  width: 304px;
  height: 352px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  overflow: hidden;
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center top;
}
.articles__image--1 {
  background-image: url(../images/articles/fashion.png);
  mask-image: url("../images/masks/articles/fashion-sm.svg");
}
.articles__image--2 {
  background-image: url(../images/articles/design_1.png);
  mask-image: url("../images/masks/articles/design_1-sm.svg");
}
.articles__image--3 {
  background-image: url(../images/articles/design_2.png);
  mask-image: url("../images/masks/articles/design_2-sm.svg");
}
.articles__image--4 {
  background-image: url(../images/articles/marketing.png);
  mask-image: url("../images/masks/articles/marketing-sm.svg");
}
.articles__image--5 {
  background-image: url(../images/articles/software.png);
  mask-image: url("../images/masks/articles/software-sm.svg");
}
.articles__content {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

/*mobile до 768*/
/*tablet с 769*/
@media screen and (min-width: 769px) {
  .articles__list {
    display: grid;
    column-gap: 24px;
    max-width: 760px;
    padding-top: 160px;
  }
  .articles__content {
    row-gap: 24px;
  }
  .articles__item {
    max-width: 584px;
  }
  .articles__item--1 {
    grid-column: 1;
    grid-row: 1;
  }
  .articles__item--2 {
    grid-column: 2;
    grid-row: 1;
  }
  .articles__item--3 {
    grid-column: 1/3;
    grid-row: 2;
    max-width: 704px;
  }
  .articles__item--4 {
    grid-column: 1;
    grid-row: 3;
  }
  .articles__item--5 {
    grid-column: 2;
    grid-row: 3;
  }
  .articles__image {
    width: 340px;
    height: 224px;
  }
  .articles__image--1 {
    mask-image: url("../images/masks/articles/fashion-md.svg");
  }
  .articles__image--2 {
    mask-image: url("../images/masks/articles/design_1-md.svg");
  }
  .articles__image--3 {
    mask-image: url("../images/masks/articles/design_2-md.svg");
    width: 100%;
    height: 320px;
  }
  .articles__image--4 {
    mask-image: url("../images/masks/articles/marketing-md.svg");
  }
  .articles__image--5 {
    mask-image: url("../images/masks/articles/software-md.svg");
  }
  .articles__content--3 {
    display: grid;
  }
  .articles__tags--3 {
    grid-row: 1;
    grid-column: 1;
  }
  .articles__title--3 {
    grid-column: 2;
  }
  .articles__description--3 {
    grid-column: 2;
  }
  .articles__date--3 {
    grid-row: 2;
    grid-column: 1;
  }
}
/*desktop от 1279*/
@media screen and (min-width: 1279px) {
  .articles__list {
    column-gap: 40px;
    max-width: none;
    padding-top: 224px;
    row-gap: 136px;
  }
  .articles__content {
    row-gap: 32px;
  }
  .articles__item--3 {
    max-width: 1208px;
  }
  .articles__image {
    width: 584px;
    height: 328px;
  }
  .articles__image--1 {
    mask-image: url("../images/masks/articles/fashion-xl.svg");
  }
  .articles__image--2 {
    mask-image: url("../images/masks/articles/design_1-xl.svg");
  }
  .articles__image--3 {
    mask-image: url("../images/masks/articles/design_2-xl.svg");
    width: 100%;
    height: 520px;
  }
  .articles__image--4 {
    mask-image: url("../images/masks/articles/marketing-xl.svg");
  }
  .articles__image--5 {
    mask-image: url("../images/masks/articles/software-xl.svg");
  }
}
.webinars {
  background-color: #1B1F21;
  background-image: url(../images/webinars/bg.svg);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
.webinars__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
  align-items: center;
}
.webinars__title {
  color: white;
  font-size: 28px;
}
.webinars__list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.webinars__item {
  padding: 24px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
}
.webinars__item--blue {
  background-color: #57ACBC;
}
.webinars__item--red {
  background-color: #FE6D44;
}
.webinars__item--orange {
  background-color: #EF9700;
}
.webinars__host {
  display: flex;
  flex-direction: row;
}
.webinars__name {
  font-size: 32px;
  color: white;
}

/*mobile с 769*/
@media (max-width: 768px) {
  .webinars__list {
    max-width: 450px;
  }
}
/*tablet с 769*/
@media screen and (min-width: 769px) {
  .webinars__wrapper {
    display: grid;
  }
  .webinars__item--blue {
    grid-column: 1;
    grid-row: 1;
  }
  .webinars__item--red {
    grid-column: 2;
    grid-row: 1;
  }
  .webinars__item--orange {
    grid-column: 1/3;
    grid-row: 2;
  }
  .webinars__list {
    display: grid;
    grid-column: 1/3;
    gap: 24px;
  }
  .webinars__title {
    grid-column: 1;
    grid-row: 1;
  }
  .webinars__button {
    grid-column: 2;
    grid-row: 1;
  }
}
/*desktop от 1279*/
@media screen and (min-width: 1279px) {
  .webinars__list {
    flex-direction: row;
    column-gap: 40px;
    display: flex;
  }
}
.subscribe__wrapper {
  display: flex;
  flex-direction: column;
  background-image: url(../images/subscribe/bg-sm.svg);
  background-size: cover;
  height: max-content;
  margin: 0 auto;
}
.subscribe__image img {
  width: 100%;
}
.subscribe__description {
  margin-bottom: 90px;
}

@media (max-width: 768px) {
  .subscribe__wrapper {
    max-width: 350px;
  }
}
/*tablet с 769*/
@media screen and (min-width: 769px) {
  .subscribe__wrapper {
    height: auto;
    flex-direction: row;
    background-image: none;
    background-color: #57ACBC;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
  }
  .subscribe__content {
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
  }
}
/*desktop от 1279*/
@media screen and (min-width: 1279px) {
  .subscribe__wrapper {
    flex-direction: row;
    background-color: transparent;
    background-image: url(../images/subscribe/bg-xl.svg);
    background-size: 95%;
    background-repeat: no-repeat;
  }
  .subscribe__image {
    background-color: transparent;
  }
}
.footer {
  background-color: #1B1F21;
  padding-top: 64px;
  padding-bottom: 80px;
  color: white;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 704px;
  margin: 0 auto;
  row-gap: 30px;
}
.footer__image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__icons {
  display: flex;
  justify-content: space-between;
  width: 285px;
  margin: 0 auto;
}
.footer__icons img {
  width: 48px;
  height: 48px;
}
.footer__subscribe {
  display: flex;
  flex-direction: column;
}
.footer__copyright {
  display: flex;
  flex-direction: column;
}
.footer__copyright p {
  font-size: 13px;
}

/*tablet с 769*/
@media screen and (min-width: 769px) {
  .footer__wrapper {
    display: grid;
    row-gap: 40px;
  }
  .footer__image {
    grid-row: 1;
    grid-column: 1;
    width: 285px;
  }
  .footer__icons {
    grid-row: 2;
    grid-column: 1/2;
    margin: 0;
  }
  .footer__menu {
    display: flex;
    flex-direction: row;
    grid-row: 3;
    grid-column: 1/3;
    justify-content: space-between;
  }
  .footer__contacts {
    display: flex;
    flex-direction: row;
    grid-row: 4;
    grid-column: 1/3;
  }
  .footer__subscribe {
    grid-row: 1;
    grid-column: 2;
  }
  .footer__copyright {
    display: flex;
    flex-direction: row;
    grid-row: 5;
    grid-column: 1/3;
    column-gap: 10px;
  }
  .footer__copyright p::after {
    content: "•";
  }
  .footer__copyright p:last-child::after {
    content: " ";
  }
}
/*desktop от 1279*/
@media screen and (min-width: 1279px) {
  .footer__wrapper {
    max-width: 100%;
  }
  .footer__logo {
    width: 224px;
  }
  .footer__award {
    width: 80px;
  }
  .footer__image {
    grid-row: 1;
    grid-column: 1;
    justify-content: space-around;
  }
  .footer__icons {
    grid-row: 3;
    grid-column: 3/4;
    margin: 0;
  }
  .footer__menu {
    display: flex;
    flex-direction: row;
    grid-row: 1/2;
    grid-column: 2/4;
    justify-content: space-between;
  }
  .footer__contacts {
    display: flex;
    flex-direction: row;
    grid-row: 3;
    grid-column: 1/3;
  }
  .footer__subscribe {
    grid-row: 2;
    grid-column: 1;
  }
  .footer__copyright {
    display: flex;
    flex-direction: row;
    grid-row: 4;
    grid-column: 1/4;
  }
}
.button {
  border-radius: 40px;
  width: 232px;
  padding-block: 15px;
  border: none;
  cursor: pointer;
  font-family: "Nunito Regular";
}

.ticker {
  overflow: hidden;
  position: relative;
  padding-block: 50px;
}
.ticker__intro {
  background-color: #ACD6DE;
  transform: rotateZ(-4deg);
}
.ticker__webinars {
  background-color: #FFAD20;
  transform: rotateZ(-3deg);
}
.ticker__subscribe {
  background-color: #FE6D44;
  transform: rotateZ(2deg);
}
.ticker__subscribe--discount {
  transform: rotateZ(0deg);
  background-color: #DA3369;
}
.ticker__wrapper {
  display: flex;
  align-items: center;
  padding-block: 12px;
  column-gap: 50px;
  animation: ticker 20s linear infinite;
  color: black;
  width: fit-content;
  white-space: nowrap;
}
.ticker__title {
  font-size: 58px;
}
.ticker__item {
  display: flex;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
}
.ticker__wrapper::after {
  content: "Artículos populares";
  font-size: 58px;
  font-family: Arial;
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.tags__list {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

/*# sourceMappingURL=style.css.map */
