@font-face {
  font-family: 'Archivo Black';
  src: url("../../fonts/ArchivoBlack-Regular.ttf");
}
@font-face {
  font-family: 'Nunito Regular';
  src: url("../../fonts/Nunito/static/Nunito-Medium.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  .container {
    max-width: 1244px;
    margin: 0 auto;

  }

/*mobile до 768*/
@media screen and (max-width: 768px) {
  .container {
    padding-inline: 8px;   
  }
}

@media screen and  (min-width: 769px) {
  .container {
    padding-inline: 32px;
  }
}

h1, h2 {
  font-family: 'Archivo Black';
} 

p, span, a, li {
  font-family: 'Nunito Regular';
}
p {
  line-height: 160%;
  color: #757778;
}